.cuerpo{
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:steelblue;
    font-family: monospace;
    width: 600px;
    height: 500px;
    border-radius: 10px;
}

.Entrada{
    margin: 10px;
    padding: 10px;
    color: aliceblue;
    font-family: monospace;
    font-size: 20px;

}

#Entradauser{
    margin-top: 10px;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 400px;
    height: 30px;
    border-radius: 15px;
    border: 0px;
    font-family: monospace;
    font-size: 20px;
}

.btn{
    width: 100px;
    height: 50px;
    border-radius: 20px;
    border: 2px solid rgb(235, 235, 235);
    color: whitesmoke;
    font-family: monospace;
    font-size: 20px;
    margin: 20px 45px 20px 45px;
    cursor:pointer;
}

.btn:hover{
	box-shadow: 0px 0px 20px #393469;
}

#add{
    background-color:rgb(33, 202, 151);
}

#delete{
    background-color:rgb(202, 58, 33);
}

.botones{
    display: flex;
    align-items: center;
    justify-content: center;
}

#lstinput{
    /*list-style: none;  */
    font-family: monospace;

}

.Listas{
    margin: 0px auto;
    background-color:white;
    font-family: monospace;
    width: 500px;
    height: 200px;
    border-radius: 10px;
}

li{
    font-family: monospace;
    font-size: 12px;
}